@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Fira+Code:wght@300..700&family=Kaushan+Script&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

.flex-center {
  @apply flex justify-center items-center;
}

@theme {
  --font-firacode: "Fira Code", monospace;
  --font-roboto: "Roboto", sans-serif;
  --font-kaushan: "Kaushan Script", cursive;
  --font-courgette: "Courgette", cursive;
  --font-pacifico: "Pacifico", cursive;
}

.hover-effect {
  @apply transition-all duration-300 ease-in-out hover:border-amber-500 hover:border hover:shadow-md;
}

.title {
  @apply text-2xl md:text-4xl font-bold  mb-4;
}

.max-container {
  @apply max-w-7xl mx-auto;
}

.active {
  @apply text-amber-500 border-amber-500 border-b-2 font-bold;
}
